server:
  port: 8070
spring:
  application:
    name: roadservice
  data:
    mongodb:
      authentication-database: admin
      username: root
      password: secret
      database: admin
      port: 27017
      host: localhost

management:
  endpoints:
    web:
      exposure:
        include:
          - prometheus
  endpoint:
    health:
      show-details: always